<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ecommerce</title>

    </head>
    <body>

        <div>
            <h1>
                Oh, hi <%= nombre %>!
                    <button onclick="location.href='/logout'">
                        Salir
                    </button>
            </h1>
        </div>

        <div>
            <h2>Ingrese producto</h2>
            <form onsubmit="addProduct(this)">
                <div>
                    <label for="name">Producto</label>
                    <input type="text" id="name" name="name" placeholder="ej: Taza">
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input type="text" id="price" name="price" placeholder="ej: 500">
                </div>
                <div>
                    <label for="thumbnail">Foto URL</label>
                    <input type="text" id="thumbnail" name="thumbnail" placeholder="ej: www.img.com/img">
                </div>
                <div>
                    <label for="description">Descripción</label>
                    <input type="text" id="description" name="description" placeholder="¿Qué hace a éste producto diferente?,
                    se preguntará. Pues esa es una pregunta estúpida">
                </div>
                <div>
                    <label for="stock">Stock</label>
                    <input type="text" id="stock" name="stock" placeholder="ej: 500">
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>

        <!-- chat -->
        <form onsubmit="addMessage(this)">
            <h2>Centro de mensajes</h2>
            <input type="text" id="user" placeholder="e-mail" required>

            <div id="messages"></div>

            <input type="text" id="text" placeholder="consulta">
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
