{{#if user}}
    <div>
        <form onsubmit="addMessage(this)">
            <h2>Chat</h2>
            {{!-- <input type="text" id="username" placeholder="e-mail" required> --}}

            <div id="messages"></div>

            <p id='user' hidden> {{user}} </p>
            <input type="text" id="text" placeholder="consulta">
            <input type="submit" id="submitBtn" value="Enviar">
        </form>
    </div>
{{/if}}