<div>
    <h1>
        Oh, hi {{name}}!
            <button onclick="location.href='/logout'">
                Logout
            </button>
    </h1>
    <div>
        <img src="https://arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/QLI43L2LFVBITL4GLZQHJW2K2A.gif" alt="Oh, hi Mark">
    </div>
</div>

<script src="js/main.js"></script>
