<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>

    <div>
        <div id="products"></div>
    </div>

    <script>

        function fetchProductosMock() {
            return fetch('/api/productos-test')
                .then(res => res.json())
        }

        function makeHtmlTable(productos) {
            return fetch('template/tabla-productos.hbs')
                .then(res => res.text())
                .then(template => {
                    const template = Handlebars.compile(template);
                    const html = template({ productos })
                    return html
                })
        }

        fetchProductosMock()
            .then(products => {
                return makeHtmlTable(products)
            })
            .then(html => {
                document.getElementById('products').innerHTML = html
            })
    </script>

</body>

</html>