<div>
    <h1>
        Oh, hi Mark!
    </h1>
</div>

<div>
    <div>
        <h1>Ingrese Producto</h1>
        <br>

        <form id="addProduct">

            <div>
                <label for="name">Nombre</label>
                <input id="name" type="text" name="title" required>
            </div>


            <div >
                <label for="price">Precio</label>
                <input id="price" type="text" name="price" required>
            </div>

            <div >
                <label for="thumbnail">Foto URL</label>
                <input id="thumbnail" type="url" name="thumbnail">
            </div>

            <div >
                <label for="description">Descripción</label>
                <input id="description" type="text" name="description" required>
            </div>

            <div >
                <label for="stock">Stock</label>
                <input id="stock" type="text" name="stock" required>
            </div>


            <button> Enviar </button>
        </form>
        <br>
        <div id="products"></div>
    </div>