<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Faker</title>
</head>

<body>

    <script>

        function fetchProductosMock() {
            return fetch('/api/productos-fake')
                .then(res => res.json())
        }

        function makeHtmlTable(products) {
            return fetch('partials/fake.hbs')
                .then(res => res.text())
                .then(fake => {
                    const template = Handlebars.compile(fake);
                    const html = template({ products })
                    return html
                })
        }

        fetchProductosMock()
            .then(products => {
                return makeHtmlTable(products)
            })
            .then(html => {
                document.getElementById('products').innerHTML = html
            })
    </script>

</body>

</html>